<div class="panel panel-success" ng-controller='listController as list'>
  <!--<div class="panel-heading">
    <span class='text-left'>FILES</span>
  </div>-->
  <div id='list-container'>
    <ul class="list-group" ng-if='main.uploadingFiles.length > 0 || list.data.files.length > 0'>
    <!--<ul class="list-group" ng-if='list.data.files && list.data.files.length > 0'>-->
      <!--<li class='list-group-item row pointer' ng-repeat='file in list.data.files' ui-sref='.file({id: file._id})'>-->
      <li class='list-group-item row' ng-repeat='file in list.data.files'>
        <div class='item-element'>
          <div class="file-icon file-icon-lg" ng-attr-data-type="{{list.getDataType(file)}}"></div>
        </div>
        <div class='item-element'>
          {{file.name}}</br>
          {{file.created | date: 'dd ' + 'MMMM ' + 'yyyy' }}</br>
          {{list.getPrettySize(file.size)}}
        </div>
        <div class='pull-right'>
          <button class='btn btn-success btn-lg' ng-click='list.download(file)' ng-show='!file.downloading'>
            <i class='glyphicon glyphicon-floppy-save' ></i>
            Download
          </button>
          <button disabled class='btn btn-info btn-lg' ng-show='file.downloading && !file.downloading.done'>
            <i class='glyphicon glyphicon-floppy-save' ></i>
            Downloading...{{(file.downloading.downloaded / file.downloading.length) * 100 | number:2}}%
          </button>
          <button class='btn btn-success btn-lg' ng-click='list.saveFile(file)' ng-show='file.downloading && file.downloading.done'>
            <i class='glyphicon glyphicon-floppy-save' ></i>
            Save file
          </button>
        </div>
      </li>
    </ul>
    <div class='panel-body' ng-if='list.data.files.length === 0'>
      <span>There aren't any files yet!</span>
    </div>
  </div>
</div>
